{% extends 'Staff/Staff_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/staff_apply_leave_post">
  <table class="table table-striped" style="width: 100ch">
    <tr>
      <th width="128" scope="row">Date</th>
      <td width="110"><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield"  class="form-control" style="width: 40%" required/></td>
    </tr>
    <tr>
      <th scope="row">No.of.Days</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" style="width: 40%" required/></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}