<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/staff_view_profile">view profile</a></td>
  </tr>
  <tr>
    <td><a href="/staff_sub_alloc_staff">view subject allocation</a></td>
  </tr>
  <tr>
    <td><a href="/staff_view_student">view students</a></td>
  </tr>
  <tr>
    <td><a href="/staff_add_mark">add mark</a></td>
  </tr>
  <tr>
    <td>manage notes<a href="/staff_add_notes">add</a> , <a href="/staff_view_notes">view</a></td>
  </tr>
  <tr>
    <td><a href="/add_attendence">add attendence</a></td>
  </tr>
  <tr>
    <td><a href="/view_notification">view notification</a></td>
  </tr>
  <tr>
    <td><a href="/staff_view_meeting">view meeting</a></td>
  </tr>
  <tr>
    <td><a href="/staff_send_complaint">send</a>complaints and <a href="/staff_view_complaint">view reply</a></td>
  </tr>
  <tr>
      <td>apply<a href="/staff_apply_leave"> for leave </a>and <a href="/view_leave_status1">view status</a></td>
  </tr>
  <tr>
    <td><a href="/logout">logout</a></td>
  </tr>
</table>
</body>
</html>
