{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_parent_post/{{ value1['student_id'] }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-striped  " style="width: 100ch">
    <tr>
      <th  width="40%" scope="col">Student</th>
      <th scope="col"><label for="select"></label>
          <input type="text" name="textfield3" id="textfield3"  value="{{ value1['student_name'] }}" class="form-control" required readonly />
        </th>
    </tr>
    <tr>
      <th scope="row">Parent name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control" required /></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add parent" class="btn btn-primary" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}