{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body >
<form id="form1" name="form1" method="post" action="/dep_post" >
  <div align="center" class="">
    <p align="center"> DEPARTMENT </p>
    <table width="700" height="100" class="table table-striped  " style="width: 100ch">
      <tr align="center">
        <td>Department</td>
        <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" class=" form-control form-control-rounded" required /></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="button" id="button" value="ADD" class="btn btn-outline-primary" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
{% endblock %}