{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/post_student" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <p align="center">STUDENT DETAILS</p>
  <div align="center">
    <table class="table table-striped  " style="width: 100ch">
      <tr>
        <td>COURSE</td>
        <td width="40%"><label for="select"></label>
          <select name="select" id="select" class="form-control custom-select2">
          <option selected>---select---</option>
              {% for foo in value %}
                  <option value="{{ foo['course_id'] }}">{{ foo['course_name'] }}</option>
              {% endfor %}

        </select></td>
      <td></td>
      </tr>
      <tr>
        <td width="244">NAME</td>
        <td width="258"><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" class="form-control" required /></td>
          <td></td>
      </tr>
      <tr>
        <td>DOB</td>
        <td><label for="textfield2"></label>
        <input type="date" name="textfield2" id="textfield2" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>MOTHER'S NAME</td>
        <td><label for="textfield3"></label>
        <input type="text" name="textfield3" id="textfield3" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>FATHER'S NAME</td>
        <td><label for="textfield4"></label>
        <input type="text" name="textfield4" id="textfield4" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>HOUSE NAME</td>
        <td><label for="textfield5"></label>
        <input type="text" name="textfield5" id="textfield5" required class="form-control"/></td>
           <td></td>
      </tr>
      <tr>
        <td>PLACE</td>
        <td><label for="textfield6"></label>
        <input type="text" name="textfield6" id="textfield6" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>POST</td>
        <td><label for="textfield7"></label>
        <input type="text" name="textfield7" id="textfield7" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>ZIP</td>
        <td><label for="textfield8"></label>
        <input type="text" name="textfield8" id="textfield8" class="form-control" required/></td>
           <td></td>
      </tr>
      <tr>
        <td>DISTRICT</td>
        <td><label for="textfield9"></label>
        <input type="text" name="textfield9" id="textfield9" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><label for="textfield10"></label>
        <input type="text" name="textfield10" id="textfield10" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>PHONE NUMBER</td>
        <td><label for="textfield11"></label>
        <input type="text" name="textfield11" id="textfield11" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>PHOTO</td>
        <td><label for="fileField"></label>
        <input type="file" name="fileField" id="fileField" class="form-control" required /></td>
           <td></td>
      </tr>
      <tr>
        <td>SEMESTER</td>
        <td>
          <label for="select2"></label>
          <select name="select2" id="select2" class="form-control ">
              <option selected value="0">---select---</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
        </select></td>
           <td></td>
      </tr>
     <tr>
        <td>YEAR</td>
        <td><label for="textfield13"></label>
        <input type="text" name="textfield13" id="textfield13" required  class="form-control"/></td>
           <td></td>
      </tr>
      <tr>
        <td>Rfid</td>
        <td><label for="textfield13"></label>
        <input type="text" name="textfield14" id="textfield14" required  class="form-control"/></td>
           <td></td>
      </tr>

      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="button" id="button" value="ADD" class="btn btn-primary"/>
        </div></td>
           <td></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
{% endblock %}