{% extends 'blank.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<table width="277" border="1">
  <tr>
    <th width="267" scope="row"><div align="left">Department Management: <a href="/add_dept">Add </a>&nbsp; <a href="/view_dept">view</a></div></th>
  </tr>
  <tr>
    <th height="30" scope="row"><div align="left">Course Management:<a href="/add_course">Add</a> &nbsp;<a href="/view_course">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Staff Management:<a href="/add_staff">Add</a>&nbsp;<a href="/view_staff">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Subject Management:<a href="/add_sub">Add</a>&nbsp;<a href="/view_subject">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left"><a href="/select_hod">Select hod</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left"><a href="/send_notification">Sent Notification</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Student Management:<a href="/add_student">Add</a>&nbsp;<a href="/view_student">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left"><a href="/view_parent">View Parent</a></div></th>
  </tr>
  <tr>
      <th scope="row"><div align="left">View Student <a href="/sel_dept">Leave</a>,<a href="/view_late">Late</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Staff Leave Managent:<a href="/view_staff_leave">View</a>&nbsp;</div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">View<a href="/view_feedback">Feedback</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Complaint Management:<a href="/view_complaints">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">Security Managemnt:<a href="/add_security">Add</a>&nbsp;<a href="/view_security">View</a></div></th>
  </tr>
  <tr>
    <th scope="row"><div align="left">
      <p>&nbsp;</p>
      <p><a href="/logout">Logout</a></p>
    </div></th>
  </tr>
</table>
</body>
</html>
{% endblock %}