<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="277" border="1">
    <tr>
      <th width="8" scope="col">#</th>
      <th width="31" scope="col">Staff</th>
      <th width="33" scope="col">Date</th>
      <th width="41" scope="col">No.of.Days</th>
      <th width="130" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Aprrove" />
      <input type="submit" name="button2" id="button2" value="Reject" /></td>
    </tr>
  </table>
</form>
</body>
</html>
