{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/update_staff_post/{{ value1['staff_id'] }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table class="table table-striped  " style="width: 100ch">
  <tr align="center">
    <td >DEPARTMENT</td>
    <td ><label for="select"></label>
      <select name="select" id="select" class="form-control">
           {% for foo in value2 %}
                  <option value="{{ foo['dept_id'] }}" {% if foo['dept_id']==value1['s_dept_id'] %}
                  selected
                  {% endif %} >{{ foo['dept_name'] }}</option>

              {% endfor %}
      </select></td>
  </tr >
  <tr align="center">
    <td>NAME</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield" class="form-control" id="textfield" value="{{ value1['s_name'] }}" required/><br> <img src="{{value1['s_images']}}" height="50" width="50" align="right" ></td>
  </tr>
  <tr align="center">
    <td>AGE</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield2" class="form-control" id="textfield" value="{{ value1['s_age'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>HOUSE NAME</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield3" class="form-control" id="textfield" value="{{ value1['s_hname'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>PLACE</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield4" class="form-control" id="textfield" value="{{ value1['s_place'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>POST</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield5" class="form-control" id="textfield" value="{{ value1['s_post'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>ZIP</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield6" class="form-control" id="textfield" value="{{ value1['s_pin'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>EMAIL</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield7" class="form-control" id="textfield" value="{{ value1['s_email'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>PHONE</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield8" class="form-control" id="textfield" value="{{ value1['s_phone'] }}"  required/></td>
  </tr>
  <tr align="center">
    <td>QUALIFIACTION</td>
    <td align="left"><label for="textfield"></label>
      <input type="text" name="textfield9" class="form-control" id="textfield" value="{{ value1['qualification'] }}" required/></td>
  </tr>
  <tr align="center">
    <td>IMAGE</td>
    <td align="left"><label for="fileField"></label>
      <input type="file" name="fileField" class="form-control" id="fileField" />      <label for="textfield"></label></td>
  </tr>
  <tr align="center">
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="Update" class="btn btn-outline-primary"/>
    </div></td>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}