{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/update_security_post/{{ value1['security_id'] }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-striped  " style="width: 100ch">
    <tr>
      <th  scope="row">Name</th>
      <td ><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ value1['security_name'] }}" class="form-control" style="width: 50%"/><br> <img src="{{ value1['security_photo'] }}" width="50" height="50" align="right"></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ value1['security_place'] }}"class="form-control" style="width: 50%"/ /></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><input type="text" name="textfield3" id="textfield3" value="{{ value1['security_phone'] }}"class="form-control" style="width: 50%"/ /></td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td><input type="text" name="textfield4" id="textfield4" value="{{ value1['security_email'] }}"readonly class="form-control" style="width: 50%"//></td>
    </tr>
    <tr>
      <th scope="row">photo</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control" style="width: 50%"//></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}