{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/update_parent_post/{{ value['parent_id'] }}" enctype="multipart/form-data">
  <table class="table table-striped  " style="width: 100ch">
    <tr>
      <th scope="row">Parent name</th>
      <td><label for="textfield"></label>
          <input type="text" name="textfield" id="textfield" required value="{{ value['parent_name'] }}" class="form-control" style="width: 50%" />&nbsp;&nbsp;<img  align="right" src="{{ value['parent_photo'] }}" alt="" height="50" width="50"/></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield2"></label>
        <input type="text" name="textfield2" id="textfield2" required readonly value="{{ value['parent_email'] }}" class="form-control" style="width: 50%"/></td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><label for="fileField"></label>
        <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}