{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

    <script type="text/javascript">
var xmlHttp;
            function adds(eid){
{#               alert(eid);#}
                if (typeof XMLHttpRequest != "undefined"){
                xmlHttp= new XMLHttpRequest();
                }
                else if (window.ActiveXObject){
                    xmlHttp= new ActiveXObject("Microsoft.XMLHTTP");
                }
                if (xmlHttp==null){
                    alert("Browser does not support XMLHTTP Request")
                    return;
                }
                var url="/view_staff_leave2/"+eid;
                xmlHttp.onreadystatechange = stateChange;
                xmlHttp.open("GET", url, true);
                xmlHttp.send(null);
            }

            function stateChange(){
                if(xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){
                    document.getElementById("n1").innerHTML=xmlHttp.responseText

                }
            }
</script>

</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table class="table table-striped  " style="width: 100ch">
<tr>
    <th>Select staff</th>

  <td>
    <label for="select"></label>
    <select name="select" id="select" onchange="adds(this.value)" class="form-control custom-select2">
        <option selected>---select---</option>
    <optgroup label="Staff">
        {% for foo in value1 %}
            <option value="{{ foo['staff_id'] }}">{{ foo['s_name'] }}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="Security">
    {% for foo in value2 %}
    <option value="{{ foo['security_id'] }}">{{ foo['security_name'] }}</option>
    {% endfor %}
    </optgroup>


    </select>
  </td>
</tr>
</table>
  <div align="center" id="n1" name="n1">

  </div>

</form>
</body>
</html>
{% endblock %}