{% extends 'Admin/Admin_Home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped  " style="width: 100ch">
    <tr>
      <td> </td>
      <th>Department</th>
      <td>&nbsp;</td>
    </tr>
      {% for foo in value %}
      <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ foo['dept_name'] }}</td>
      <td><a href="/delete_dept/{{ foo['dept_id'] }}" onclick="return confirm('are u sure to delete.......')">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
