{% extends 'Hod/Hod_home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{#<form id="form1" name="form1" method="post" action="">#}
  <table  class="table table-striped" style="width: 100ch">
    <tr>
      <th width="8" scope="col"></th>
      <th width="31" scope="col">Student</th>
      <th width="33" scope="col">Date</th>
      <th width="41" scope="col">No.of.Days</th>
      <th width="130" scope="col">&nbsp;</th>
    </tr>
      {% for foo in value %}

    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ foo['student_name'] }}</td>
      <td>&nbsp;{{ foo['ldate'] }}</td>
      <td>&nbsp;{{ foo['no_of_days'] }}</td>
        <td>
            {% if foo['status']=='p' %}
            <a href="/approve_student_leave_post1/{{ foo['sl_id'] }}"> <input type="submit" name="button" id="button" value="Aprrove"  class="btn btn-outline-success btn-sm"/></a>
            <a href="/approve_student_leave_post2/{{ foo['sl_id'] }}"><input type="submit" name="button2" id="button2" value="Reject" class="btn btn-outline-danger btn-sm"/></a>
            {% elif foo['status']=='a' %}
            Aproved
            {% elif foo['status']=='r' %}
            Rejected
            {% endif %}
        </td>
    </tr>
      {% endfor %}
  </table>
{#</form>#}
</body>
</html>
{% endblock %}