{% extends 'Hod/Hod_home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-striped" style="width: 100ch">
  <tr>
    <th ></th>
    <th  >complaint</th>
    <th  >date</th>
    <th  >reply</th>
    <th >reply date</th>
  </tr>
    {% for foo in value %}
        <tr >
    <td>{{ loop.index }}</td>
    <td>{{ foo['complaint'] }}</td>
    <td>{{ foo['c_date'] }}</td>
            {% if foo['reply']=='pending' %}
                <td colspan="2">Pending reply</td>
            {% else %}
                <td>{{ foo['reply'] }}</td>
                <td>{{ foo['rdate'] }}</td>
            {% endif %}
  </tr>
    {% endfor %}


</table>
</body>
</html>
{% endblock %}