<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="376" border="1">
    <tr>
      <td width="421"><a href="/view_hod_profile">VIEW PROFILE</a></td>
    </tr>
    <tr>
      <td><a href="/hod_view_staff">VIEW STAFF</a></td>
    </tr>
    <tr>
      <td height="35"><a href="/hod_view_student">VIEW STUDENTS</a></td>
    </tr>
    <tr>
        <td>VIEW STAFF <a href="/hod_view_staff_leave">LEAVE</a> AND <a href="/hod_view_staff_late">LATE</a></td>
    </tr>
    <tr>
      <td><a href="/view_notification">VIEW NOTIFICATION</a></td>
    </tr>
    <tr>
      <td><a href="/subjectallocation_course">SUBJECT ALLOCATION TO COURSE</a></td>
    </tr>
    <tr>
      <td><a href="/subjectallocation_staff">SUBJECT ALLOCATION TO STAFF</a></td>
    </tr>
    <tr>
      <td>MEETING MANAGEMENT<a href="/hod_add_meeting">add</a> <a href="/hod_view_meeting">view</a></td>
    </tr>
    <tr>
        <td><a href="/hod_apply_leave">APPLY FOR LEAVE </a> AND <a href="/view_leave_status">ITS STATUS</a></td>
    </tr>
    <tr>
      <td><a href="/approve_student_leave">APPROVE STUDENT LEAVES</a></td>
    </tr>
    <tr>
        <td>VIEW STUDENT<a href="/hod_view_student_leave1"> LEAVE {#  </a>AND <a>LATE INFORMATION</a> #} </td>
    </tr>
    <tr>
      <td><a href="/view_feedback">FEEDBACK</a></td>
    </tr>
      <tr>
    <td><a href="/hod_send_complaint">send</a>complaints and <a href="/hod_view_complaint">view reply</a></td>
  </tr>
    <tr>
      <td><a href="/logout">LOGOUT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
