{% extends 'Hod/Hod_home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/hod_complaint_post">
  <table class="table table-striped" style="width: 100ch">
    <tr>
      <td width="135" align="center">Complaint</td>
      <td width="287"><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea></td>
    </tr>
    <tr>
      <td height="42" colspan="2" align="center"><input type="submit" name="button" id="button" value="    Submit   " class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
